# Java
*.class

# Build output directory
build/
target/
out/
bin/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ivy dependencies
.lib/
.deliver/
.ivy/
ivy.xml.lockbuild/reports/

# Log file
*.log
